<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Delete blog</h2>
<a href="/blogs/">Back to list</a>
<form action="/blogs/delete-blog" method="post">
    <input name="id" th:value="${delete.getId()}">
    <input name="title" th:value="${delete.getTitle()}">
    <input name="content" th:value="${delete.getContent()}">
    <input name="author" th:value="${delete.getAuthor()}">
    <input name="category" th:value="${delete.getCategory()}">
    <br>
    <button>Delete</button>
</form>
</body>
</html>