<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/blog/layout :: head"></head>
<body>
<div align="center">
    <button> <a href="/blogs/">Back to list</a></button>
    <hr>
    <h2>Delete blog</h2>
    <form action="/blogs/delete-blog" method="post">
        <table>
            <tr>
                <td>ID</td>
                <td>
                    <input name="id" th:value="${delete.getId()}">
                </td>
            </tr>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    <input name="title" th:value="${delete.getTitle()}">
                </td>
                </tr>
            <tr>
                <td>Content</td>
                <td>
                    <input name="content" th:value="${delete.getContent()}">
                </td>
            </tr>
            <tr>
                <td>
                    Author
                </td>
                <td>
                    <input name="author" th:value="${delete.getAuthor()}">
                </td>
                </tr>
            <tr>
                <td>
                    Category
                </td>
                <td>
                    <input name="category" th:value="${delete.getCategory()}">
                </td>
            </tr>
        </table>
        <button>Delete</button>
    </form>
</div>
</body>
</html>